<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
    <link rel="stylesheet" href="style/general_style.css">
</head>
<body>
	<div class="logo">Edflix</div>

	<nav>
		<a href="/logout">Login/Out</a>
	</nav>

	<section>
		<h2>Search</h2>
		<p>Click to search profile</p>
		<a href="/search_profile">Go</a>
	</section>

	<section>
		<h2>Banning</h2>
		<p>Click to ban user</p>
		<a href="/banning">Go</a>
	</section>
</body>
</html>