<% @subtitle = "Delete User" %>
<html>
<head>
    <title>User Database :: <%= @subtitle %></title>
    <link rel="stylesheet"  href="style/user_form.css">
</head>
<body>
<h1><%= @subtitle %></h1>

<p class="error"><strong>Unknown User</strong></p>

<p class="navigation">Return to <a href="/search_profile">User Search</a>.</p>


</body>
</html>
