<% @subtitle = "Delete Course" %>

<html>
<link rel="stylesheet"  href="style/course_form.css">
  <head>
    <title><%= @subtitle %></title>
  </head>
  <body>

<p class="error"><strong>Course Does Not Exist!</strong></p>

<p class="navigation">Return to <a href="/searchcourse">Course Search</a>.</p>

</body>
</html>