<!DOCTYPE html>
<html>
<link rel="stylesheet"  href="style/general_style.css">
  <head>
    <title>Failed to join</title>
  </head>
  <body>
    <h1>Already Joined</h1>
    <p>You are already taking this course</p>
    <p><a href="/dashboard_learner">Back to Homepage</a>.</p>
  </body>

</html>