<html>
<link rel="stylesheet"  href="style/login_page.css">
  <head>
    <title>Logout Page</title>
  </head>

  <body>
    <form method="post" action="/welcome_page">
      <p> Logging out will require you to re-enter your username and password to access the site. </p>
      <p><input type="submit" Value="Logout"></p>
    </form>
  </body>

</html>
