<!DOCTYPE html>
<html>
<head>
	<title>Moderator Page</title>
    <link rel="stylesheet" href="style/general_style.css">
</head>
<body>
	<div class="logo">Edflix</div>

	<nav>
		<a href="/logout">Login/Out</a>
	</nav>

	<section>
		<h2>add Course</h2>
		<p>Click to add new course </p>
		<a href="/addcourse">Go</a>
	</section>

	<section>
		<h2>edit Course</h2>
		<p>Click to edit course</p>
		<a href="/searchcourse">Go</a>
	</section>
</body>
</html>