<!DOCTYPE html>
<html>
<link rel="stylesheet"  href="style/password_reset.css">
  <head>
    <title>Password Reset</title>
  </head>

  <body>
  <h1>Reset Password</h1>
  <form action="/reset_password" method="post">
     <label for="name">Email:</label>
      <input type="text" id="email" name="email" value="<%= params[:email] %>"><br>
      <span class="error" id="email_error"><%= @email_error %></span><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
