<!DOCTYPE html>
<html>
<link rel="stylesheet"  href="style/report_form.css">
  <head>
    <title>Thank You</title>
  </head>
  <body>
    <h1>Thank You</h1>
    <p>Thank you for submitting your problem. We will get back to you as soon as possible.</p>
    <p><a href="/dashboard_learner">Return to Profile Page</a></p>
  </body>
</html>