<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Website</title>
  <link rel="stylesheet"  href="style/welcome.css">
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo"><button>Our Website</button></a>
    </nav>
    <div class="hero">
      <h1>Welcome to Our Website</h1>
    </div>
  </header>
  <main>
    <section id="about">
      <h2>About Us</h2>
      <p>We are a team of passionate educators who are dedicated to providing high-quality courses that meet the needs of our students. With years of experience in the industry, we have developed a curriculum that is both challenging and rewarding, and we are committed to helping our students succeed.</p>
      
    </section>
	<section>
	<p>Please feel free to browse our website and let us know if you have any questions or feedback.</p>
	</section>
  </main>
  <footer id="contact">
  <p id="login">
    <a href="/login"><button>Login</button></a>
    <a href="/usercourses"><button>see our courses</button></a>
  </p>
  <a href="/report_form"><button>Contact Us</button></a>
  </footer>

</body>
</html>
